/* GENERAL */
:root {
	--color-bg-search-bar: #e5e5e5;
	--color-bg-body: #f8f9fa;
	--color-side-bar: #0f263d;
	--color-nav-bar: #1b72e8;
}
body{
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-body);
}

/* HEADER */
header{
    width: 100%;
    height: 50px;
}

/* UTILITIES */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
    align-content: center;
}
/* ICONS */
/* MAIN */
main{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-flow: row nowrap;
}
#sidebar{
    /* width: 150px;
    height: 100%; */
    background-color: var(--color-side-bar);
    color: var(--color-bg-body);
    background-image: url('../img/sidebar-bg.png');
}
#main-content{
    flex-grow: 1;
    /* width: calc(100% - 150px); */
    overflow-y: auto;
}
header img{
    height: 50px;
    display: block;
}